<h2 mat-dialog-title>Edit Element</h2>
<form [formGroup]="elementForm">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Position</mat-label>
      <input matInput formControlName="position" type="number" min="1">
      <mat-error *ngIf="elementForm.get('position')?.hasError('notUnique')">
        This position is already taken!
      </mat-error>
      <mat-error *ngIf="elementForm.get('position')?.hasError('required')">
        Position is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Weight</mat-label>
      <input matInput formControlName="weight" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Symbol</mat-label>
      <input matInput formControlName="symbol">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-elevated-button type="button" (click)="onNoClick()" class="table-header custom-button">Cancel</button>
    <button mat-elevated-button (click)="onSave()" [disabled]="elementForm.invalid" class="table-header custom-button">Save</button>
  </mat-dialog-actions>
</form>
