@use '../../app' as app;
@use "sass:map";

mat-form-field {
  display: block;
  margin-bottom: 16px;
}

mat-dialog-actions {
  margin-top: 16px;
}

h2.mat-dialog-title {
  text-align: center !important;
}

.custom-button {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  padding: 0 20px;
  margin: 0 5px;
  background-color: map.get(app.$myapp-theme-secondary, 50);
}

.custom-button:hover {
  cursor: pointer;
  background-color: map.get(app.$myapp-theme-primary, 100);
}
