<h2 mat-dialog-title>Edit Element</h2>
<form [formGroup]="elementForm" (ngSubmit)="onSave()">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Position</mat-label>
      <input matInput formControlName="position" type="number" min="1">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Weight</mat-label>
      <input matInput formControlName="weight" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Symbol</mat-label>
      <input matInput formControlName="symbol">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="!elementForm.valid">Save</button>
  </mat-dialog-actions>
</form>
